
<div class="outer_div">
			<%if !current_project.nil?%>
			<div id="tabs">
				<ul>
					<li>
						<a href="#tabs-1" >Streams </a>
					</li>
					<li>
						<a href="#tabs-2">Structures</a>
					</li>
					<li>
						<a href="#tabs-3">Spaces</a>
					</li>
					<li>
						<a href="#tabs-4">Scenarios</a>
					</li>
					<li>
						<a href="#tabs-5">Societies</a>
					</li>
				</ul>
				<div id="tabs-1">
				    <%=render 'streams'%>
				</div>
				<div id="tabs-3">
					<%=render 'spaces'%>
				</div>
				<div id="tabs-4">
					   <div id="umldiagram" class="clearfix">
        			</div>
				</div>
				<div id="tabs-5">
					<%=render 'societies'%>
				</div>
				<div id="tabs-2">
					<%=render 'structures'%>
				</div>
			
		</div>
		<%else%>
		<div class="outer_div">
			<div class="inner_div"
			<h3 style="text-align: center;">Create and open a project to view this page</h3>
				</div>
		</div>
		<%end%>
	</div>


<!--<div id="canvas_container"></div>--> 

 
       