<!--Got to clean up this code -->
<%@uniq_roles = Delegation.find(:all,:group=>:role)%>
<div id="menu">       
 <ul class="navmenu">	
 <%@uniq_roles.each do |r|%>
   <li><div class="menutop"><a href="#"><%=r.role%></a><div class="toggle">+</div></div>
     <ul class="submenu">
     	<%@del = Delegation.find(:all,:conditions=>["role=?",r.role])%>
     	<%@del.each do |d|%>
     	<%@u=User.find(:all,:conditions=>["id=?",d.user_id])%>
     	<%@u.each do |u|%>
       <li><a href="#"><%=u.name%></a></li>
       <%end%>
       <%end%>
     </ul>
    </li>
   <%end%>
 </ul>
 </div>