<div class="grid_4 layout">
	<%= render 'users_sidemenu'%>
</div>
<div class ="grid_12 layout" id="right_display">
	<%if params[:project_user].nil?%>
	<%=render 'form'%>
	<%else%>
	<%=render 'project_user'%>
	<%end%>
</div>
