<%content_for :side do%>
<%= render 'users_sidemenu'%>
<%end%>
<%content_for :main do%> 
<h2>People involved in the <%=link_to "#{current_project.name}",current_project%> project </h2>

<ul class="users">
	<%= render 'users' %>
</ul>
<!--
<h2>Project users in this project</h2>
<%if !@proj_users.nil?%>
<ul>
	<%@proj_users.each do |r|%>
	<li>
		<%= r[:name]%>
	</li>
	<%end%>
</ul>
<%end%>
</div-->
<%end%> 