<%content_for :side do%>
	<%= render 'events_sidemenu'%>
<%end%>
<%content_for :main do%>
<br/>
<h2>Calendar</h2>
	<%if current_project.nil?%>
		<%=empty_display("projects")%>
	<%elsif current_project_events.nil?%>
		<%=empty_display("events")%>
	<%end%>
<%= raw(event_calendar) %>
</div>
<%end%>
