<div class="grid_4 layout">
	<%= render 'projects_sidemenu'%>
</div>
<div class ="grid_12 layout" id="right_display">
<!--Renders the project_user partial which lists all the project users-->
<%=render 'project_user' %>	
<%= link_to 'Back', projects_path %>
</div>
