.container {
	width: 710px; 
}

body{
	background-color:#f1f1f1;
	background-repeat: repeat-x;
}

header{
padding-top: 8px;/**Changed from 20px**/
}

header img {
	padding: 1em;
	background: #fff;
}

footer{
	text-align: center;
	margin-top: 10px;
	width: 710px;
	margin-left: auto;
	margin-left: auto;
}
footer nav{
	float: right ;
}
section {
	margin-top: 1em;
	font-size: 120%;
	padding: 20px;
	background: #fff;
}

section h1{
	font-size: 200%;
}

/*Links*/
a {
	color: #09c;
	text-decoration: none;
}

a:hover{
	color: #069;
	text-decoration: underline;
}


/*Navigation */

nav{
	float: right;
}

nav{
	background-color: white;
	padding: 0 0.7em;
	white-space: nowrap;
}
nav ul {
	margin: 0;
	padding: 0;
}
		
nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 0.2em 0;
}
nav ul li a {
	padding: 0 5px;
	font-weight: bold;
	color: #8A1F11;
}

nav ul li a:visited {
	color: #990000;
}

nav ul li a:hover{
	text-decoration: underline;
	
}

#signup_button{
	margin-left: auto;
	cursor:pointer;
	margin-right: auto;
	display: block;
	border:2px;
	text-align: center;
	width: 120px;
	color: white;
	background: #E95C33;
	font-family:'Droid Sans', sans-serif;
	font-size: 1.2em;
	font-size: 100%;
	font-weight: bold;
	padding: 5px;
}
.custom_button{
	background-color:#387DB5;
	margin-left: auto;
	display:inline-block;
	cursor:pointer;
	margin-right: auto;
	border:2px;
	text-align: center;
	padding-left:10px;
	padding-right:10px;
	color: white;
	background: #E95C33;
	font-family:'Droid Sans', sans-serif;
	font-size: 16px;
	font-weight: bold;
	padding: 5px;
}

 .layout{
	border-color:#665555;		
}
.round{
	-moz-border-radius: 10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}
#dynamic_project_table_wrapper,#dynamic_table_wrapper,#dynamic_users_table{
	margin-right: 5px;
	margin-left: 5px;
}

#my-timeline{
	margin-right: 5px;
	margin-left: 5px;
}
#ui-datepicker-div { display:none }

#empty_entity{
	text-align:center;
	font-size:14px;
	font-weight:bold;
	margin-top:20px;
}
/* Table */

table.profile{
	width:100%;
	margin-bottom:0;
}

td.main{
	width:70%;
	padding:1em;
}

td.sidebar{
	width:30%;
	padding:1em;
	vertical-align:top;
	background:#ffc;
}

.profile img.gravatar{
	border: 1px solid #999;
	margin-bottom: -15px;
}

/*Form related*/
div.field, div.actions{
	margin-bottom:10px;
}

/** Users **/
	ul.users {
		margin.top: 1em;
	}
	
	.users li{
		list-style:none;
	}


/** Main navigation bar**/
#main_nav{
	float:right;
	margin-top:35px;}
#main_nav ul{
	display:block;
	margin: 0 0 0 0;
	padding:0}
#main_nav li{
	display:inline;
	margin:0;
	padding:0;
	text-indent: -9999px}
#main_nav li.last
a{
	margin:0;
	border:0
 }
	
#main_nav li a{
	display:block;
	float:left;
	background-image:url('naavi.jpg');
	background-repeat:no-repeat;
	height:50px;
	}

/**TO-DO:Make tabs highglight**/
	
#main_nav li#overview
a{width:109px;background-position:0 0}
#main_nav li#phases
a{width:102px;background-position: -109px 0}
#main_nav li#people
a{width:109px;background-position: -211px 0}
#main_nav li#meetings
a{width:118px;background-position: -320px 0}
#main_nav li#tasks
a{width:106px;background-position: -438px 0}
#main_nav li#policies
a{width:114px;background-position: -545px 0}
#main_nav li#help
a{width:114px;background-position: -659px 0}

#main_nav li#overview a:hover, #nav li#overview
a.active{background-position:0 -60px}
#main_nav li#phases a:hover, #nav li#phases
a.active{background-position: -109px -60px}
#main_nav li#people a:hover, #nav li#people
a.active{background-position: -211px -60px}
#main_nav li#meetings a:hover, #nav li#meetings
a.active{background-position: -320px -60px}
#main_nav li#tasks a:hover, #nav li#tasks
a.active{background-position: -438px -60px}
#main_nav li#policies a:hover, #nav li#policies
a.active{background-position: -545px -60px}
#main_nav li#help a:hover, #nav li#help
a.active{background-position: -659px -60px;
}

/** Other layout related**/
.layout{
	background:#ffffff;
	/**
	outline:solid;
	outline-color:#AA6666;
	outline-width:thin;**/
}

.separation{
	background:transparent;
	height:8px;
}

#right_display{
	float:right;
}

.box_1, .grid_12 .box_1{
	min-height:170px !important;
	margin-bottom:8px;
}
#nav_bar{
	vertical-align:top;
	width:85%;
}
#nav_bar ul{
	float:right;
}
/**Text**/
.headings{
	text-align:center;
	margin-top: 10px;	
}

/** Tables**/
.pretty th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.pretty th .asc {
  background-image: url('arrow_up.png');
}

.pretty th .desc {
  background-image: url('arrow_down.png');
}

/*Toggle Area*/
 #menu .toggle {float:right;width:9px; padding:5px; cursor:pointer; border-top:1px solid white; border-left:1px solid #E0E0E0; color:black;font-weight:normal;font-size:14px;}
 #menu ul.navmenu li:first-child .toggle{border-width:0 0 0 1px;}

 /*Menu Setup*/
 #menu{width:99%;margin-left:4px}
 #menu ul.navmenu{width:99%}
 #menu ul{padding:0; margin:0; width:99%;}
 #menu ul ul{border:1px solid #CCC;}
 #menu ul.navmenu li {margin:0; list-style:none;}
 /*Links*/
 #menu ul.navmenu a, #menu ul.navmenu a:visited {text-decoration:none;margin-left:30px; padding:5px; display:block; color:black;}
 #menu ul.navmenu ul.submenu a:hover{background:#FFF4D2; color:#333;}
 /*Heading Outer div*/
 #menu ul.navmenu .menutop{border:1px solid #CCC; border-width:0 1px; overflow:hidden; width:99%; background:#F9F9F9; }
 /*Header Links*/
 #menu ul.navmenu .menutop a{width:auto;float:left;margin:0 0 1px 0; border-top:1px solid white;}
 /*Header Link Hover*/
 #menu ul.navmenu .menutop a:hover{color:#333;}
 /*Removes white border for the first header*/
 #menu ul.navmenu li:first-child .menutop a {border-width:0px;}

 /*Single Menu Width Fix*/
 #menu ul.navmenu .menusingle a{width:auto;}

 /*Border Radius and Special Border Width*/
 #menu ul.navmenu li:first-child .menutop{border-width:1px 1px 0 1px; -moz-border-radius:5px 5px 0 0;-webkit-border-top-left-radius:5px;-webkit-border-top-right-radius:5px;}
 #menu ul.navmenu li:last-child .menutop{border-width:0px 1px 1px 1px; -moz-border-radius:0 0 5px 5px; -webkit-border-bottom-left-radius:5px;-webkit-border-bottom-right-radius:5px;}
 #menu ul.navmenu li:last-child ul.submenu{-moz-border-radius:0 0 5px 5px;-webkit-border-bottom-left-radius:5px;-webkit-border-bottom-right-radius:5px;}
 #menu ul.navmenu li:last-child .menutop-open{-moz-border-radius:0;-webkit-border-radius:0px; border-width:0 1px;}
 
/**Stylized**/
	#stylized{
border:solid 2px #b7ddf2;
background:#ebf4fb;
}
#stylized h1 {
font-size:14px;
font-weight:bold;
margin-bottom:8px;
}
#stylized p{
font-size:11px;
color:#666666;
margin-bottom:20px;
border-bottom:solid 1px #b7ddf2;
padding-bottom:10px;
}
#stylized label{
display:block;
font-weight:bold;
text-align:right;
width:140px;
float:left;
}
#stylized .small{
color:#666666;
display:block;
font-size:11px;
font-weight:normal;
text-align:right;
width:140px;
}
#stylized input{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:200px;
margin:2px 0 20px 10px;
}
#stylized button{
clear:both;
margin-left:150px;
width:125px;
height:31px;
background:#666666 url(img/button.png) no-repeat;
text-align:center;
line-height:31px;
color:#FFFFFF;
font-size:11px;
font-weight:bold;
}
p, h1, form, button{border:0; margin:0; padding:0;}
.spacer{clear:both; height:1px;}
/* ----------- My Form ----------- */
.myform{
margin:0 auto;
width:500px;
padding:14px;
}

.field_with_errors {
  display: inline;
}

.field_with_errors .message {
  color: #D00;
  padding-left: 5px;
  font-size: 12px;
}
/**Add link for sidemenu**/
.add_link{
	text-align:center;
	font-size:14px;
	font-weight:bold;
}


ul#sitemap
{
	margin: 1em 0;
	list-style-type: none;
/**background: url(dot.png) repeat-y 3px 0;**/
	padding: 0;
}

ul#sitemap li
{
	margin-bottom: .5em;
	font-size:14px;
}

ul#sitemap li a
{
	background: url(bullet_red.png) no-repeat ;
	padding-left: 15px;
}

ul#sitemap li a.open, ul#sitemap li li a.open, ul#sitemap li li li a.open, ul#sitemap li li li li a.open
{
	background-image: url(bullet_red.png);
}

/* second level */
ul#sitemap ul
{
	margin: .5em 0 0 0;
	padding: 0;
	list-style-type: none;
}

ul#sitemap li li
{
/**background: url(dot.png) repeat-y 30px .5em;**/
}

ul#sitemap li li a
{
	padding: 0 0 0 30px;
	background: url(bullet_green.png) no-repeat 20px ;
}

/* third level */
ul#sitemap ul ul
{
/**background: url(dot.png) repeat-y 30px 0;**/
}
/**Google css**/
.signin-box{
  margin: 12px 0 0;
  padding: 20px 25px 15px;
  background: beige;
  border: 1px solid #e5e5e5;
  }
  .custom_box{
  margin: 12px 0 0;
  padding: 20px 25px 15px;
  border: 1px solid #e5e5e5;
  }

  .google-header-bar {
  height: 71px;
  background: #f1f1f1;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  }
  .google-footer-bar {
  width: 100%;
  border-top: 1px solid #ebebeb;
  overflow: hidden;
  }
  .footer {
  padding-top: 15px;
  font-size: 12px;
  white-space: nowrap;
  line-height: 0;
  }
  .footer ul {
  color: darksalmon;
  float: right;
  max-width: 80%;
  }
  .footer ul li {
  display:table-cell;
  padding: 0 1.5em 0 0;
  }
  .footer a {
  color: darksalmon;
  }
  .footer form {
  text-align: right;
  }
  .footer form .lang-chooser {
  max-width: 20%;
  }
  .content {
  padding: 0 44px;
  }
  
 .header .logo {
  margin: 17px 0 0;
  float: left;
  }
  .redtext {
 	 color:#E9967A;
  }
.features {
  overflow: hidden;
  margin: 2em 0 0;
  }
  .features li {
  display:inline;
  margin: 3px 0 2em;
  }
  .features img {
  float: left;
  margin: -3px 0 0;
  }
  .features p {
  margin: 0 0 0 68px;
  }
  .features .title {
  font-size: 16px;
  margin-bottom: .3em;
  }
 /**Start of navlist for navigation menu**/
  .navlist {
  overflow: hidden;
  height:71px;
  float:right;
  }
  .navlist li {
  display:table-cell;
  vertical-align:middle;
  height:71px;
  }
  .navlist img {
  float: left;
  margin: -3px 0 0;
  }
  .navlist p {
  margin: 0 0 0 68px;
  }
  .navlist .title {
  font-size: 16px;
  margin-bottom: .3em;
  }
  .navlist li a{
  vertical-align:middle;
  font-size:1.2em;
  color:#E9967A;
  margin-right:20px;
  margin-left:20px;
  }
  
 
 .navlist li:hover{
  background-color:#D9D9D9;
  }
  
.navlist li:active{
  background-color:#777777;
  }
  
.custom_background{
	background-color:color;
	color:black;
}

/* div container containing the form  */
.searchContainer {
    margin:20px;
}
 
/* Style the search input field. */
#acpro_inp5,#acpro_inp8 {
    width:150px; 
    height:20px; 
    line-height:20px;
    text-indent:10px; 
    color:#333; 
    background: #fff; 
    background: url(ico-search.png) no-repeat #93bcff right;
    border:solid 1px #d9d9d9; 
    border-top:solid 1px #c0c0c0; 
}
 
/* Style the "X" text button next to the search input field */
#delete {
    float:left; 
    width:16px;
    height:29px; 
    line-height:27px; 
    margin-right:15px; 
    padding:0 0px 0 0px;
    font-family: "Lucida Sans", "Lucida Sans Unicode",sans-serif;
    font-size:22px; 
    background: #fff;  
    border:solid 1px #d9d9d9; 
    border-top:solid 1px #c0c0c0; 
    border-left:none;
}
/* Set default state of "X" and hide it */
#delete #x {
    color:#A1B9ED; 
    cursor:pointer;
    display:none;
}
/* Set the hover state of "X" */
#delete #x:hover {
    color:#36c;
}
/* Syle the search button. Settings of line-height, font-size, text-indent used to hide submit value in IE */
#submit {
    cursor:pointer; 
    width:70px; 
    height: 31px; 
    line-height:0; 
    font-size:0; 
    text-indent:-999px;
    color: transparent;  
    background: url(ico-search.png) no-repeat #4d90fe center; 
    border: 1px solid #3079ED; 
    -moz-border-radius: 2px; 
    -webkit-border-radius: 2px; 
}
/* Style the search button hover state */
#submit:hover {
    background: url(ico-search.png) no-repeat center #357AE8; 
    border: 1px solid #2F5BB7;
}
/* Clear floats */
.fclear {clear:both}

.custom_text{
	color:lightslategrey;
}

.outer_div {
  width: 100%;
}

.inner_div {
  width: 50%;
  margin: 0px auto;
  margin-top:20px;
  padding: 20px 25px 15px;
  background: beige;
  border: 1px solid #e5e5e5;
}
.bigger_inner_div {
  width: 80%;
  margin: 0px auto;
  margin-top:20px;
  padding: 20px 25px 15px;
  background: beige;
  border: 1px solid #e5e5e5;
}
.inner_div p{
	font-size:16px;
}
.bigger_inner_div p{
	font-size:16px;
}
.righty{
	margin-left:93%;
}

.checkbox, .radio {
    width: 19px;
    height: 19px;
    margin-left: 60px;
    background: url("http://i48.tinypic.com/raz13m.jpg");
    display: block;
    clear: left;
    float: left;
 }
 .checked {
     background-position: 0px -50px;   
}

.clicked {
     background-position: 0px -25px;
}

.clicked.checked {
     background-position: 0px -75px;
}


.green {
    background-color: green;
 }

 .red {
    background-color: red;
 }

.purple {
    background-color: purple;
 }
 
.disp_div{
	margin-left:40px;
	display:block;
 }

.disp_none{
	display:none;
 }
 #character_encoding,#text_encoding,#video_encoding,#audio_encoding,#image_encoding,#type,#sequences{
 	width:300px;
 }

#canvas_container{  
width: 500px; 
        height:500px; 
 border: 1px solid #aaa;  
           } 

#ud_tools_ul1{
	padding-left: 0px;
}
ul#ud_tools_ul1 li {
list-style: none;
font-size: 14px;
}
ul#ud_tools_ul1 li a, ul#ud_tools_ul2 li a {
padding: 6px;
cursor:pointer;
}

#tabs-4 {
background-color:white;
}

.item:hover{
	background-color:white;
}
 
#trash {
        color: #354e62;
}
 
#items {
       margin-top: 10px;
       width: 100%;
}
.active{
	background-color:#D9DADB;
}
 
.ui-draggable { 
    }
#ud_tools_ul2 li a,#ud_tools_ul1 li a {
	margin-left:15px;
}

#ud_tools_ul2 li img,#ud_tools_ul1 li img {
	cursor:move;
}
.hint{
	font-size:12px !important;
	color:grey;
}
.field{
	margin-left:30px;
}
