// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
  font-family: 'RokkittRegular';
  src: font_url('store/ROKKITT.OTF');
  src: local('Rokkitt Regular'),
  font-weight: normal;
  font-style: normal;
}

