<br/><h3><%= link_to "List of phases",phases_path%> <%=link_to image_tag("add.png", :alt=>"Phases"),phases_path%></h3>

<div id="treeViewDiv_phases" class="custom_tree"></div>
<br/>
<p class="add_link"> <%=link_to "Add phases to the project",new_phase_path(:custom_phase=>true)%>&nbsp;&nbsp; <%=link_to image_tag("add.png", :alt=>"Add phases"),new_phase_path%></p>