<div class="field phase">
	<label for="phase_name">Name</label>
	<br>
	<input id="phase_name" name="phase[name]" size="30" type="text">
	    <%= link_to "remove", "#", :class => 'remove_phase'%>
</div>