<!--<footer>
	<nav>
		<ul>
			<li>
				<%= link_to "About", about_path%>
			</li>
			<li>
				<%= link_to "Contact", contact_path%>
			</li>
			<li>
				<%= link_to "News", "http://news.railstutorial.org/"%>
			</li>
			<li>
				<%= link_to "Rails tutorial", "http://railstutorial.org"%>
			</li>
		</ul>
	</nav>
</footer>-->	
		<div class="google-footer-bar">
			<div class="footer clearfix">
				<ul>
					<li>
						© 2012 DLRL
					</li>
					<li>
						Digital Library Research Lab
					</li>
					<li>
						Terms and Conditions
					</li>
					<li>
						Help
					</li>
				</ul>
			</div>
		</div>