<h3>Policy list</h3>
<div id="treeViewDiv_policies" class="custom_tree"></div>
<br/>
<p class="add_link"> <%=link_to "Add policies to the project",new_policy_path%>&nbsp;&nbsp; <%=link_to image_tag("add.png", :alt=>"Add policies"),new_policy_path%></p>